<ion-header>
  <ion-toolbar>
    <ion-title>Reservas</ion-title>
    <ion-toolbar>
      <ion-item>
        <ion-label>Filtrar por usuario:</ion-label>
        <ion-select [ngModel]="selectedUser()" (ngModelChange)="selectedUser.set($event)">
          <ion-select-option [value]="'all'" selected>Todos</ion-select-option>
          @for (user of users(); track user.id) {
            <ion-select-option [value]="user.id">
              {{ user.first_name }} {{ user.last_name }} 
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (booking of filteredBookings; track booking.id) {
      <ion-item>
        <ion-label>
          <h2>Tutor: {{ booking.staff.first_name }} {{ booking.staff.last_name }}</h2>
          <p>Fecha: {{ booking.date | date: 'dd/MM/yyyy' }}</p>
          <p>Especialidad: {{ booking.staff.speciality }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>