.skeleton-container {
  padding: 16px;
}

.error-state, .empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
}

.error-icon, .empty-icon {
  font-size: 64px;
  margin-bottom: 16px;
}

.booking-card {
  margin: 16px;
  border-left: 4px solid var(--ion-color-primary);
}

ion-card-title ion-icon {
  vertical-align: middle;
  margin-right: 8px;
  color: var(--ion-color-primary);
}

ion-badge {
  background-color: var(--ion-color-medium);
  color: #ffffff;
}

ion-card-subtitle {
  color: var(--ion-color-primary-light);
}
