
:root {
  /* --ion-color-primary: radial-gradient(circle, rgba(235,90,60,1) 0%, rgba(223,151,85,0.5158438375350141) 100%); */ 
    --ion-color-primary: #EB5A3C; 
    --ion-color-primary-light: #DF9755; 
    --ion-color-primary-rgb: rgb(44,62,80);
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: rgb(255,255,255);
    --ion-color-primary-shade: #273746;
    --ion-color-primary-tint: #80aeb4;
    --ion-color-danger: rgba(204, 15, 15, 0.774); 
    --ion-color-danger-contrast: rgba(12, 11, 11, 0.87);
    --ion-color-success: rgb(89, 236, 84);
    --ion-color-success-contrast: rgba(12, 11, 11, 0.87);
  
    --ion-color-medium: #ac71e4;
  }

  