<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tutores</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item>
      <ion-icon slot="start" name="funnel" color="primary"></ion-icon>
      <ion-label color="prmary">Filtrar por especialidad:</ion-label>
      <ion-select [formControl]="specialityFilter">
        <ion-icon slot="start" name="reorder-four"></ion-icon>
        <ion-select-option [value]="'all'" selected class="select-list"
          >Todas</ion-select-option
        >
        @for (speciality of uniqueSpecialities; track speciality) {
        <ion-select-option [value]="speciality">
          {{ speciality }}
        </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (tutor of filteredTutors; track tutor.id) {
    <ion-item>
      <ion-label>
        <ion-avatar>
          <img [src]="'https://i.pravatar.cc/150?img=' + tutor.id" alt="Tutor avatar">
        </ion-avatar>
        <h2>{{ tutor.first_name }} {{ tutor.last_name }}</h2>
        <p><ion-icon name="ribbon"></ion-icon> {{ tutor.speciality }}</p>
        @if (tutor.status === status.Active) {
        <ion-badge color="success">Activo</ion-badge>
        } @else {
        <ion-badge color="danger">Inactivo</ion-badge>
        }
      </ion-label>
    </ion-item>
    } @empty {
    <ion-item>
      <ion-label class="ion-text-center"> No se encontraron tutores </ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
