ion-footer {
  --background: #f4f4f4;
  color: #555;
  font-size: 10px;
  text-align: center;
}

ion-title {
  font-size: 10px;
}

center-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.app-tittle {
  font-size: 30px;
}
