<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="app-tittle">Tutor Management</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  

  <p>Presiona uno de los siguientes botones para navegar</p>
  <ion-toolbar>

    <ion-button routerLink="/users" routerDirection="root">Usuarios</ion-button>
    <ion-button routerLink="/tutors" routerDirection="root">Tutores</ion-button>
    <ion-button routerLink="/bookings" routerDirection="root">Reservas</ion-button>
    
  </ion-toolbar>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small">© 2025 Tutor Management - Todos los derechos reservados</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons  slot="start" class="center-buttons">
      <ion-button href="/terms">Términos</ion-button>
      <ion-button href="/privacy">Privacidad</ion-button>
      <ion-button href="/support">Soporte</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
