<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="app-tittle">Tutor Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <div class="centered-container">
    <p class="instruction-text">Presiona uno de los siguientes botones para navegar</p>
    
    <ion-toolbar class="buttons-toolbar">
      <ion-button 
        class="nav-button"
        routerLink="/users" 
        routerDirection="root"
      >
        Usuarios
      </ion-button>
      <ion-button 
        class="nav-button"
        routerLink="/tutors" 
        routerDirection="root"
      >
        Tutores
      </ion-button>
      <ion-button 
        class="nav-button"
        routerLink="/bookings" 
        routerDirection="root"
      >
        Reservas
      </ion-button>
    </ion-toolbar>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small">© 2025 Tutor Management - Todos los derechos reservados</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons  slot="start" class="center-buttons">
      <ion-button href="/terms">Términos</ion-button>
      <ion-button href="/privacy">Privacidad</ion-button>
      <ion-button href="/support">Soporte</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
